nav {
    background-color: #d3d1d1;
    color: white;
    padding: 10px 0;
  }
  .nav div{
    height:6vh;
    width:30vh;
    text-align: center;
    text-justify: auto;

  }
  .nav div.active {
    background-color: #c9e4f5; 
    color: #fff; 
  }
  .nav div:hover {
    background-color: #a9a9a9; 
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  
  .nav li {
    margin-top: 1vh;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: rgb(73, 72, 72);
    font-weight: bold;
    transition: color 0.2s;
  }
  
  /*
  a:hover {
    color: #232df0; 
  }*/